html, body {
  width: 100vw;
  height : 100vh;
  margin : 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
}

select, button, input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
}

caption {
  font-family: 'Verdana';
  caption-side: top;
  text-align: left;
  padding: 0 0 .25em 0;
  font-weight: bold;
}

tr .selected, tr:has(td.marker), span.marker {
  color : blue;
}

td {
  vertical-align: middle;
}

th {
  background-color: #ECECED;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

p {
  margin : .5em 0 .5em 0;
}

#algorithme {
  font-family: Courier, 'Courier New', monospace;
}

#panel {
  width: 900px;
}

.button {
  padding: 5px;
  background: rgb(127, 127, 127);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
}

.button:hover {
  color: rgb(127, 127, 127);
  background : white;
}

.popup {
  padding: 1px;
}

.popup:hover {
  color: white;
  background : rgb(127, 127, 127);
}

.selected {
  background-color: #C00;
  color : #ECECED;
}

.marker::after {
  content : '➤';
}

#popup {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: absolute;
  top : 0;
  left : 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

#popup-message {
  flex-grow: 0;
  background-color: #ECECED;
  color : black;
  border-radius: 5px;
  border: 5px solid black;
  padding: 10px;
  max-width: 75%;
  cursor: pointer;
}

.block {
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom : .33rem;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.left {
  align-items: start;
}

.center {
  align-self: center;
}

.centered {
  text-align: center;
}

.space {
  justify-content: space-around;
}

.hide {
  display: none;
  transition: all .5s ease-out;
  opacity: 0;  
}

.help {
  display: inline-block;
  border-radius: 50%;
  background-color: black;
  border-color: lightgray;
  border-width: 3px;
  border-style: solid;
  color: white;
  width : 25px;
  height : 25px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  margin-left: .5rem;
  font-size: 18px;
  vertical-align: middle;
}

.help:hover {
  background-color: lightgray;
  border-color: black;
  color: black;
}

.bordered {
  border-collapse: collapse;
}

.bordered, .bordered td, .bordered th {
  border : 1px solid black;
}

.boite {
  width: 50px;
  height: 50px;
  border: 1px lightgray solid;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
}

.ok {
  background-color: lime;
}

.nok {
  background-color: red;
}

.libelle {
  width : 60px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
}